{% block CustomersView %}

  <style>
    table, tr, td {
      border: 1px solid black;
    }
  </style>

  <table border>
    <tr>
      <td colspan = "7" align="center"><h1>Customers</h1></td>
    </tr>

    <tr>
      <th colspan = "1">Personal Number</th>
      <th colspan = "1">Name</th>
      <th colspan = "1">Address</th>
      <th colspan = "1">Postal Address</th>
      <th colspan = "1">Phone Number</th>
      <th colspan = "1"></th>
      <th colspan = "1"></th>
    </tr>

    {% for customer in customers %}
    <tr>
      <td colspan = "1">{{customer.customerPersonalNumber}}</td>
      <td colspan = "1">{{customer.customerName}}</td>
      <td colspan = "1">{{customer.customerAddress}}</td>
      <td colspan = "1">{{customer.customerPostalAddress}}</td>
      <td colspan = "1">{{customer.customerPhoneNumber}}</td>
      <td colspan = "1">
        <form method="post" action="/editCustomer/{{customer.customerPersonalNumber}}">
          <input type="submit" value="Edit" {% if customer.hasCar %}disabled{% endif %}>
        </form>
      </td>
      <td colspan = "1">
        <form method="post" action="/removeCustomer/{{customer.customerPersonalNumber}}/{{customer.customerName}}/{{customer.customerAddress}}/{{customer.customerPostalAddress}}/{{customer.customerPhoneNumber}}"
              onsubmit="return confirm('Are you sure you want to remove customer {{customer.customerPersonalNumber}}?')">
          <input type="submit" value="Remove" {% if customer.hasCar %}disabled{% endif %}>
        </form>
      </td>
    </tr>
    {% endfor %}

    <tr>
      <td colspan="7">
        <form action="/addCustomer" method="post">
          <input type="submit" style="width:100%" value="Add Customer">
        </form>
      </td>
    </tr>
    <tr>
      <td colspan="7">
        <form action="/" method="post">
          <input type="submit" style="width:100%" value="Main Menu">
        </form>
      </td>
    </tr>
  </table>

{% endblock %}

